<h2 class='section-title'>Radiance LAN 2024</h2>

<div class="content-container">
    <div class="content size_2third">
        <p>La <b>Radiance LAN 2024</b> est un tournoi en réseau local qui s’est déroulé <b>du 18 au 20 octobre 2024</b>
            au CRIJ Centre-Val de Loire, à Orléans. Contrairement à un tournoi en ligne, tous les joueurs se sont réunis
            au même endroit pour jouer simultanément.</p>
        <p>Cet événement fut un espace d’échange et de sociabilisation. Pour de nombreux participants, ce tournoi a été
            l’occasion de rencontrer, pour la première fois, d’autres joueurs en dehors du cadre virtuel.</p>
    </div>

    <div class="content size_1third">
        <ul class="event-resume">
            <li class="event-item">
                <img src="{{ asset('images/icons/user-5-line.png') }}" alt=""/>
                <p>75 joueurs</p>
            </li>
            <li class="event-item">
                <img src="{{ asset('images/icons/cash-line.png') }}" alt=""/>
                <p>700€ de prize pool</p>
            </li>
            <li class="event-item">
                <img src="{{ asset('images/icons/calendar-event-line.png') }}" alt=""/>
                <p>2 jours de compétition</p>
            </li>
        </ul>
    </div>
</div>

<h3 class='section-subtitle'>Résultats de l’édition 2024</h3>

<div class="content-container">
    <div class="content size_full">
        <p class="text-center">Félicitations à l’équipe <b>Limitless</b> et ses 5 joueurs (tØno, Orako, Tortipouss,
            Klanx et Elektik) pour leur victoire à la Radiance LAN 2024 ! </p>
        <p>Les équipes <b>Cringe Gaming</b> et <b>Tilted & Créatif</b>
            remportent la 2ème et 3ème place.</p>
    </div>
</div>

<div class="content-container">
    <div class="content size_full">
        <div class="team-container team-first">
            <div class="team-recap">
                <span class="team-placement">1ère place</span>
                <img src="{{ asset('images/teams/limitless.webp') }}" alt="logo de l'équipe Limitless"
                     class="team-logo"/>

            </div>

            <div class="team-detail">
                <h4 class="team-name">Limitless</h4>
                <div class="team-composition team-composition-horizontal">
                    <div class="player-card">
                        <div class="player-image">
                            <img src="{{ asset('images/heroes/ursa.webp') }}" alt="ursa"/>
                        </div>
                        <div class="player-info player-info-vertical">
                            <h5 class="player-name">tØno</h5>
                            <div class="player-role">
                                <img src="{{ asset('images/roles/safelane.webp') }}" alt="safelane icon"/>
                                <span>Safelane</span>
                            </div>
                        </div>
                    </div>

                    <div class="player-card">
                        <div class="player-image">
                            <img src="{{ asset('images/heroes/pangolier.webp') }}" alt="pangolier"/>
                        </div>
                        <div class="player-info player-info-vertical">
                            <h5 class="player-name">orako</h5>
                            <div class="player-role">
                                <img src="{{ asset('images/roles/midlane.webp') }}" alt="midlane icon"/>
                                <span>Midlane</span>
                            </div>
                        </div>
                    </div>

                    <div class="player-card">
                        <div class="player-image">
                            <img src="{{ asset('images/heroes/centaur.webp') }}" alt="centaur"/>
                        </div>
                        <div class="player-info player-info-vertical">
                            <h5 class="player-name">Tortipouss</h5>
                            <div class="player-role">
                                <img src="{{ asset('images/roles/offlane.webp') }}" alt="offlane icon"/>
                                <span>Offlane</span>
                            </div>
                        </div>
                    </div>

                    <div class="player-card">
                        <div class="player-image">
                            <img src="{{ asset('images/heroes/hoodwink.webp') }}" alt="hoodwink"/>
                        </div>
                        <div class="player-info player-info-vertical">
                            <h5 class="player-name">klanx</h5>
                            <div class="player-role">
                                <img src="{{ asset('images/roles/soft_support.webp') }}" alt="soft support icon"/>
                                <span>Soft Support</span>
                            </div>
                        </div>
                    </div>

                    <div class="player-card">
                        <div class="player-image">
                            <img src="{{ asset('images/heroes/ancient_apparition.webp') }}" alt="ancient apparition"/>
                        </div>
                        <div class="player-info player-info-vertical">
                            <h5 class="player-name">elektik</h5>
                            <div class="player-role">
                                <img src="{{ asset('images/roles/hard_support.webp') }}" alt="hard support icon"/>
                                <span>Hard Support</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content size_half">
        <div class="team-container team-second">
            <div class="team-recap">
                <span class="team-placement">2ème place</span>
                <img src="{{ asset('images/teams/cringe_gaming.webp') }}" alt="logo de l'équipe Cringe Gaming"
                     class="team-logo"/>
            </div>

            <div class="team-detail">
                <h4 class="team-name">CRINGE GAMING</h4>
                <div class="team-composition team-composition-vertical">
                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">hypsilon</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/safelane.webp') }}" alt="safelane icon"/>
                            <span>Safelane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">hell topo</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/midlane.webp') }}" alt="midlane icon"/>
                            <span>Midlane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">kill'sponge</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/offlane.webp') }}" alt="offlane icon"/>
                            <span>Offlane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">tyr</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/soft_support.webp') }}" alt="soft support icon"/>
                            <span>Soft Support</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">cholie</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/hard_support.webp') }}" alt="hard support icon"/>
                            <span>Hard Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content size_half">
        <div class="team-container team-second">
            <div class="team-recap">
                <span class="team-placement">3ème place</span>
                <img src="{{ asset('images/teams/tilted_and_creatif.webp') }}" alt="logo de l'équipe Tilted & Créatif"
                     class="team-logo"/>
            </div>

            <div class="team-detail">
                <h4 class="team-name">tilted & créatif</h4>
                <div class="team-composition team-composition-vertical">
                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">shin</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/safelane.webp') }}" alt="safelane icon"/>
                            <span>Safelane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">krauzer</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/midlane.webp') }}" alt="midlane icon"/>
                            <span>Midlane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">atoufix</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/offlane.webp') }}" alt="offlane icon"/>
                            <span>Offlane</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">mel</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/soft_support.webp') }}" alt="soft support icon"/>
                            <span>Soft Support</span>
                        </div>
                    </div>

                    <div class="player-info player-info-horizontal">
                        <h5 class="player-name">pa</h5>
                        <div class="player-role">
                            <img src="{{ asset('images/roles/hard_support.webp') }}" alt="hard support icon"/>
                            <span>Hard Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>