<h2 class='section-title'>Partner</h2>

<div class="content-container">
    <div class="content size_full">
        <p>Nous tenons à remercier tout particulièrement l’association <b>OREGAMI</b>, partenaire officiel de la
            Radiance LAN 2024. OREGAMI nous a donné sa confiance en nous autorisant à occuper les espaces du <b>CRIJ
                Centre-Val de Loire</b> le temps d’un week-end.</p>

        <div class="partner-logo">
            <img src="{{ asset('images/partners/oregami.webp') }}" alt="Association OREGAMI"/>
            <img src="{{ asset('images/partners/crij.webp') }}" alt="CRIJ Centre-Val de Loire"/>
        </div>
    </div>

    <div class="content size_full">
        <p>Pour ce tournoi, nous avons également bénéficié du soutien du média <b>FROGGED TV</b> pour la couverture du
            tournoi, du designer <b>SPAD</b> pour la création de nos visuels, et du restaurant <b>AMERICAN FOOD</b> pour
            la restauration des joueurs.
        </p>
        <div class="partner-logo">
            <img src="{{ asset('images/partners/spad.webp') }}" alt="SPAD Designer Freelance"/>
            <img src="{{ asset('images/partners/american_food.webp') }}" alt="American Food"/>
            <img src="{{ asset('images/partners/ftv.webp') }}" alt="Frogged TV"/>
        </div>
    </div>
</div>
